.checkout {
  display: flex;
  padding: 20px;
  background-color: #fff;
  height: max-content;
}

.checkout__left {
  flex: 1;
  margin-right: 20px;
}

.checkout__leftTitle {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
